/* .logincontainer {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  height: 100vh;
  background-color: var(--secondaryRed);
  background-image: linear-gradient(
    315deg,
    var(--secondaryRed) 0%,
    var(--primaryBlue) 74%
  );
}

.login {
  display: flex;
  gap: 50px;
  border: 1px solid white;
  height: max-content;
  padding: 10%;
  background: var(--primaryBlue); 
} */



/* .login input.ant-input {
    background-color: yellow;
}

.email {
  color: white;
  border-color: white;
  background: var(--primaryBlue);
}

.password {
  color: white;
  border-color: white;
  background-color: var(--primaryBlue);
}

.password input {
  background-color: var(--primaryBlue);
  color: white;
}

.anmelden {
  background-color: var(--primaryRed);
  border: 1px solid white;
  border-radius: var(--buttonRadius);
}

.anmelden span {
  background-color: transparent;
}  */
