.navbar a {
  border-radius: var(--buttonRadius);
  border-color: white;
  border-style: solid;
  border-width: 1px;
  padding: var(--buttonPadding);
  text-decoration: none;
}

.container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.navbar a:hover {
  background-color: white;
  color: var(--primaryBlue);
}

.navbar a.active {
  background-color: white;
  color: var(--primaryBlue);
}

.button {
  background: var(--primaryRed);
}

.navbar .button:hover {
  background-color: var(--secondaryRed);
  color: var(--defaultTextColor);
}
