.container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.container h1{
  color: white;
}

.container a {
  border-radius: var(--buttonRadius);
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  padding: var(--buttonPadding);
  text-decoration: none;
}


.container a:hover {
  background-color: white;
  color: var(--primaryBlue);
}


.container a.active {
  background-color: white;
  color: var(--primaryBlue);
}


.container .button {
  background: var(--primaryRed);
}

.container .button:hover {
  background-color: var(--secondaryRed);
  color: var(--defaultTextColor);
}
