:root {
  --headerOffset: 4.0rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;

}

.navbar{
  background: #0D2253;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.2rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0 50px;
  align-items: center;
  height: var(--headerOffset);
}

.navbar a{
  color: white;
 
}

.button {
  display: flex;
  background: red;
  border-radius: 4px;
  padding: 5px;
}

.sider{
  background: transparent;
  position: fixed;
  top: var(--headerOffset);
  right: 0;
  width: 20%;
  height: calc(100vh - var(--headerOffset));
}

.pages-container :nth-child(n){
  scroll-margin-top: var(--headerOffset);
  height: calc(100vh - var(--headerOffset));
  background: linear-gradient(0deg, rgba(13, 34, 83, 0.96), rgba(13, 34, 83, 0.96)), url(./images/the-persistence-of-memory-1931.jpeg);
  background-size: cover;
}

.pages-container :nth-child(1){
  padding-top: var(--headerOffset);
}
