.appheader {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--defaultBackgroundColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7vw;
}

.appheader h1{
  color: white;
}


.appcontent section {
  height: calc(100vh - var(--headerOffset));
  background: var(--backgroundImage);
  background-size: cover;
  margin-right: 20%;
}

.appcontent section h1{
  color: white;
  background-color: transparent;
}

.appsider {
  background: transparent;
  position: fixed;
  top: var(--headerOffset);
  right: 0;
  width: 20%;
  height: calc(100vh - var(--headerOffset));
  display: grid;
  justify-content: center;
  align-content: space-around;
}

.appsider h1{
  color: white;
  background-color: transparent;
}

.appfooter {
  padding: 2% 5%;
  background: var(--primaryRed);
  display: flex;
  justify-content: space-between;
}

.appfooter h1, h3, h5{
  color: white;
  background-color: transparent;
}
